@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

*
{
  margin: 0;
  padding: 0;
}

#reg
{
  display: none;
}

#admin
{
  display: none;
}

#visitorAdd
{
  display: none;
}